In [43]:
import pandas as pd
from scipy import stats
from scipy.stats.mstats import gmean

In [44]:
df = pd.read_csv('belize_airbnb_listings.csv')

In [6]:
df.head(1)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.0,5,225

# Arithmetic mean

Arithmetic mean is often called as mean or arithmetic average. Arithmetic mean is calculated by adding all the numbers in a given data set and then dividing it by the total number of items within that set.
formula for AM is Mean (xÌ„) = Sum of all observations/ Number of observations

In [14]:
# calculating Arithmetic mean for belize_airbnb_listings data 

df[["price","number_of_reviews"]].mean()

price                357.102289
number_of_reviews     14.453505
dtype: float64

# Geometric mean

Geometric mean is the average value or mean which signifies the central tendency of the set of numbers by taking the root of the product of their values. Geometric Mean can be found by multiplying all the numbers in the given data set and take the nth root for the obtained result.

In [33]:
# created column for geometric mean and assigned none to the column
df['Geometric Mean'] = None
df.head(2)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Geometric Mean
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225,None
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,3,316,2/19/2021,2.46,5,164,None

In [35]:
# here i have calculated GM for price and minimum_nights coulmns , i gave the coulmn names as index in iloc
df['Geometric Mean'] = stats.gmean(df.iloc[:, 9:11], axis=1)
df.head(2)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Geometric Mean
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225,20.566964
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,3,316,2/19/2021,2.46,5,164,14.594520

# Harmonic mean
Harmonic mean is a type of average that is calculated by dividing the number of values in a data series by the sum of the reciprocals (1/x_i) of each value in the data series.

In [58]:
df['Harmonic Mean'] = stats.hmean(df.iloc[:, 9:11], axis=1)
df.head(2)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Harmonic Mean
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225,5.875000
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,3,316,2/19/2021,2.46,5,164,5.756757

# 2, Write a function to sort several subsequent inputs alphabetically.

In [15]:
x = ['orange', 'banana', 'strawberry', 'pineapple', 'apple', 'guava']

def fruit_func():
    
    global x
    x = sorted(x, reverse=False)
    
        
fruit_func()
print(x)

['apple', 'banana', 'guava', 'orange', 'pineapple', 'strawberry']